* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

background {
    position:fixed;
    display:flex;
    min-width: 100%;
    min-height: 100%;
    left: 0px;
    top: 0px;
    z-index: -100;
}

body {
    display:flex;
    justify-content:center;
    align-items:start;
    min-height:100vh;
}
 @media only screen and (max-width: 800px) {
    body {justify-content:left;}
 }

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 20px 100px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index: 99;
    margin-bottom: 20px;
    background:transparent;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px);
    transition: all .5s;
    box-shadow: 0 0 30px rgba(100, 100, 100, .8);
}

.header2 {
    background:transparent;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px);
    position: fixed;
    display:flex;
    min-width: 100%;
    max-width: 100%;
    min-height: 200%;
    top: -200%;
    padding-top: 160px; 
    transition: all .7s;
    z-index: 98;
}

.header2.active-checkresp {
    transform: translateY(100%)
}

.navelem {
    margin-top: 30px;
    display: flex;
    position: absolute;
    left: 20px;
}

.navetext {
    left: 40px;
    position: absolute;
    display: flex;
    top: 100px;
    font-weight: bold;
    font-size: 1.6em;
    color: #6bbfff;
}

.checkresp {
    border: none;
    display: none;
    background: none;
    color: #6bbfff;
}
.restat {transform: scale(1);}
.restat.active-checkresp {transform: scale(0);}
.restat2 {transform: scale(0);}
.restat2.active-checkresp {transform: scale(1);}

header nav {
    transition: all .5s;
    display:block;
}

@media only screen and (max-width: 1140px) {
    header nav {
        display: none;
    }
    .checkresp {
        position: absolute;
        right: 10px;
        display: block;
        width: 50px;
        height: 50px;
        font-size: 40px;
    }
    header {
        padding: 15px 15px;
    }
}

.logo {
    font-size: 1.8em;
    color:#6bbfff;
    user-select:none;
    
}

.navigation .navigation2 {
    position:relative;
    font-size: 1.3em;
    color: #6bbfff;
    text-decoration:none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .navigation2::after {
    content: '';
    position:absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #6bbfff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(50, 50, 50, .5);
    transform-origin:right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation .navigation2:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

about {
    position: absolute;
    display: flex;
    top: 140px;
    color: #162938;
    min-width: 96%;
    min-height: 200px;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: normal;
    background: transparent;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(100, 100, 100, .5);
    flex-wrap: wrap;
    transition: .5s;
    margin: 10px;

}

about:hover {
    background-color:rgba(0, 0, 0, .7);
}

.title {
    display: flex;
    position: relative;
    top: 90px;
    min-width: 100%;
    padding: 10px;
    justify-content: center;
    color: #6bbfff;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, .9);
}

.sidetitle {
    top: 90px;
}

.about-content {
    position: relative;
    display: flex;
    padding: 20px 20px 20px 20px;
    color: #6bbfff;
    background: transparent;
    background-color: rgba(20, 20, 20, .6);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(100, 100, 100, .5);
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    text-align: center;
}

.about-content:hover {
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(100, 100, 100, .7);
    background-color: rgba(30, 30, 30, .7);
}

.youtube{max-width: 1400px;}

.about-intro {
    min-width: 100%;
}

.about-content2 {
    min-width: 95%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

docs {
    position: absolute;
    display: flex;
    top: 140px;
    color: #162938;
    min-width: 96%;
    min-height: 200px;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: normal;
    background: transparent;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(100, 100, 100, .5);
    flex-wrap: wrap;
    transition: .5s;
    margin: 10px;

}

docs:hover {
    background-color:rgba(0, 0, 0, .7);
}

.calendar {
    position: absolute;
    display: flex;
    top: 140px;
    color: #162938;
    width: 96%;
    min-width: 400px;
    max-width: 100%;
    min-height: 200px;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: normal;
    background: transparent;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(100, 100, 100, .5);
    flex-wrap: wrap;
    transition: .5s;
    margin: 10px;
    overflow: hidden;
}

@media only screen and (max-width: 510px) {
    .calendar {left: -10px; justify-content: left;}
}

.calendar:hover {
    background-color:rgba(0, 0, 0, .7);
}

.docs button {
    width: 100px;
    height: 40px;
}